@import "../../styles";

@mixin ellipsisMenuColors($grays){
	$gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
    $gray5: nth($grays, 5); // alt element
    $gray6: nth($grays, 6);

    color: $gray1;
	
	path {
		stroke: $gray1;
    }    

    .tsi-ellipsisMenu {
        border-color: $gray6;
        background-color: $gray3;

        .tsi-ellipsisMenuItem {
            &:hover {
                background-color: $gray2;
            }
        }
    }
}

.tsi-ellipsisMenuContainer {
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;

    .tsi-ellipsisButton {
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .tsi-ellipsisMenu {
        position: absolute;
        border-width: 1px;
        border-radius: 2px;
        border-style: solid;
        cursor: pointer;
        min-width: 160px;
        top: 20px;
        right: 0;
        white-space: nowrap;
        z-index: 10000;
        padding: 4px 0;

        .tsi-ellipsisMenuItem {
            overflow: hidden;
            height: 24px;
            font-size: 12px;
            padding: 4px 8px;
            display: flex;
            align-items: center;
            
            .tsi-ellipsisMenuIcon {
                height: 20px;
                width: 20px; 
                margin-right: 12px;
                top: 2px;
                display: inline-block;
                position: relative;
                flex-shrink: 0;
            }

            .tsi-ellipsisMenuLabel {
                display: inline-block;
                position: relative;
                width: calc(100% - 60px);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .tsi-actionElement {
        padding: 4px 16px;
        cursor: default;
        font-size: 12px;
    }
	
	&.tsi-dark{
        $grays: grays('dark');
        @include ellipsisMenuColors($grays);
        .tsi-ellipsisButton {
            background-image: url(../../Icons/ellipsis_dark_theme_PLACEHOLDER.svg);            
        }

        .tsi-ellipsisMenu {
            .tsi-ellipsisMenuItem {
                .tsi-ellipsisMenuIcon {
                    &.flagIcon {
                        background-image: url(../../Icons/flag_dark_theme.svg);
                    }
                    &.gridIcon {
                        background-image: url(../../Icons/Grid_Icon_Dark_Theme.svg);
                    }
                }
            }
        }
    }
    &.tsi-light{
        $grays: grays('light');
        @include ellipsisMenuColors($grays);
        .tsi-ellipsisButton {
            background-image: url(../../Icons/ellipsis_light_theme_PLACEHOLDER.svg);            
        }

        .tsi-ellipsisMenu {
            .tsi-ellipsisMenuItem {
                .tsi-ellipsisMenuIcon {
                    &.flagIcon {
                        background-image: url(../../Icons/flag_light_theme.svg);
                    }
                    &.gridIcon {
                        background-image: url(../../Icons/Grid_Icon_Light_Theme.svg);
                    }
                }
            }
        }
    }
}