body { 
	font-family: "Segoe UI", sans-serif; 
	background: #1e2223; 
	height: 100%; 
	padding: 0; 
	margin: 0;
} 

* {
	box-sizing: border-box;
}

button {
	font-family: "Segoe UI", sans-serif; 
}

#loginModal{
	position: fixed;
	z-index: 3;
	background: rgba(0,0,0,.3);
	height: 100%;
	width: 100%;
	top: 0;
}

#loginModal > div{
	padding: 20px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: -20%;
	bottom: 0;
	width: 400px;
    height: 240px;
    background: #111;
    text-align: center;
	box-shadow: 0px 0px 2px 2px rgba(255,255,255,.1);
	color: white;
}

#loginModal > div > span{
	display: block;
	margin: 40px;
	margin-bottom: 60px;
	font-size: 20px;
}

#loginModal > div > a{
	font-size: 18px;
	text-decoration: none;
	padding: 8px 12px;
	border: 1px solid white;
}
.rowOfCards{
	width: 100%; 
	flex-grow: 1; 
	display: flex; 
	justify-content: space-around; 
	height: 500px; 
	padding-bottom: 40px;
	border-bottom: 1px solid silver;
} 
.rowOfCardsTitle{
	width: 100%;
	color: white;
	padding: 16px 0 20px;
	text-align: center;
}
.card{
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
	background: white;
	border-radius: 2px;
} 
.cardTitle{
	height: 40px; 
	border-bottom: 1px solid #ddd;
	padding: 8px 0; 
	color: black;
	text-align: left;
	background: white;
	font-size: 16px;
    font-weight: 600;
	margin: 0 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 
.cardTitle.dark, .card.dark > .cardTitle{
    background: #0d0f0e !important;
	color: white !important;
	border-bottom: 1px solid #555;
}
.cardChart{
	height: calc(100% - 40px); 
	width: 100%;
}
.header{ 
	z-index: 2; 
	background: black; 
	position: fixed; 
	top: 0; 
	left: 0; 
	height: 40px; 
	padding: 8px; 
	border-bottom: 1px solid #888; 
	width: 100%; 
	color: white; 
} 

#api_response2{ 
	position: absolute; 
	left: 220px; 
	top: -8px; 
	padding: 8px 16px; 
	white-space: normal; 
	height: 28px; 
} 
.rightSide{ 
	position: absolute; 
	top: 0; 
	right: 0; 
	margin-right: 40px; 
} 
.loginLogout{ 
	position: absolute; 
	top: 6px; 
	font-size: 13px; 
	right: 0; 
} 
a{ 
	color: white; 
}
.chartsWrapper{
	height: calc(100% - 40px); 
	margin-top: 40px;
	width: 100%;
}

.dark{
	background: #0d0f0e !important;
    color: white !important;
}

#selectTitle::-ms-expand{
	background-color: #0d0f0e !important;
    color: white !important;
    display: block !important;
    border: none;
}

#charts{
    height: 500px;
    display: flex;
}

#charts > div{
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
	background: white;
    border-radius: 2px;
    flex: 1;
    margin: 40px;
    height: 100%;
}

#selectTitleWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
}

#selectTitle{
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 3px;
    border: 1px solid silver;
}

.bigHeader{
    font-size: 20px;
    padding: 20px 20px;
	color: white;
}

.bigHeader.bordered{
	border-top: 1px solid silver;
    margin: 40px 20px 0px;
    padding: 20px 0px;
}

.example{
    border: 1px solid silver;
    border-radius: 3px;
    margin: 8px 20px;
    width: 300px;
	height: 300px;
	display: inline-block;
}

.example:hover{
    transition: .2s all ease;
    transform: translateY(-2px);
    cursor: pointer;
    box-shadow: 0px 0px 2px 2px rgba(255,255,255,0.15);
}

.subHeader{
    font-size: 15px;
    height: 40px;
    color: white;
    border-bottom: 1px solid silver;
    padding: 8px;
}

.pic{
    height: 258px;
}

.pic > img{
    width: 100%;
    height: 100%;
}

.links{
    border-top: 1px solid silver;
    height: 40px;
    font-size: 14px;
    padding: 8px;
}

#modal{
    position: fixed;
    top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    background: rgba(0,0,0,.4);
    display: none;
    justify-content: center;
    align-items: center;
}

#modalClose{
    position: absolute;
    right: 4px;
    top: 0px;
    cursor: pointer;
    border-radius: 20px;
    height: 20px;
    width: 20px;
    font-size: 24px;
}

#modalBox{
    width: calc(100% - 200px);
    height: calc(100% - 80px);
    background: white;
    border: 1px solid silver;
    border-radius: 3px;
	position: relative;
	margin-top: -20px;
}

#modalContent{
    width: 100%;
    height: calc(100% - 80px);
    border: none;
}

#modalTitle{
    height: 40px;
    padding: 8px 20px;
    border-bottom: 1px solid silver;
}

#modalLinks{
	height: 40px;
	padding: 8px 20px;
	border-top: 1px solid silver;
}

#modalLinks > a{
	color: black;
	font-size: 14px;
	padding-right: 20px;
}

a{
	padding-right: 8px;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

a:nth-child(2){
	float: right;
}