@import "../../styles";

@mixin tableColors($grays){
    $gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
    $gray5: nth($grays, 5);

    background-color: $gray3;
    color: $gray1;

    .tsi-timePickerContainer {
        background-color: $gray3;
        .tsi-timePickerChart {
            background-color: $gray3;
        }
    }

    .tsi-timePickerTextContainer {
        .tsi-timePicker {
            border-color: $gray5;
        }
    }

    .tsi-sparklineContainer {
        .overlay {
            fill: $gray4;
        }
    }

    &.tsi-compact {
        .tsi-timePickerContainer {
            .overlay {
                fill: $gray4;
            }
            .tsi-compactFromTo {
                background-color: $gray3;
            }

        }
    }

    .tsi-zoomButton{
        background-color: $gray3;
        color: $gray1;
        &:active{
            background-color: $gray2;
        }
    }

    .tsi-dateTimeContainer {
        color: $gray1;
    }

    .tsi-timePicker, .tsi-timePicker > option {
        background-color: $gray3;
        color: $gray1; 
    }    
}

.tsi-availabilityChart {
    .tsi-dateTimePickerContainer {
        position: absolute;
        right: 60px;
        top: calc(100% - 40px);
        background-color: white;
    }

    .tsi-rangeTextContainer {
        pointer-events: none;
        height: 16px;
        color: white;
        left: 100px;
        top: 4px;
        position: absolute;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 12px;
        border-radius: 4px;
    }

    position: relative;

    &.tsi-dark{
		$grays: grays('dark');
		@include tableColors($grays);
	}
	&.tsi-light{
		$grays: grays('light');
		@include tableColors($grays);
    }

    width: 100%;
    .tsi-timePickerContainer {
        width: calc(100% - 4px);
        height: calc(100% - 48px);
        overflow: visible;
        position: relative;
        .tsi-timePickerChart {
            position: relative;
            .valueLine {
                stroke-width: 2px;
            }
            height: calc(100% - 4px);
        }
    }

    &.tsi-compact {
        .tsi-rangeTextContainer {
            background: none !important;
            top: 30px;
        }
        .tsi-timePickerContainer {
            height: calc(100% - 8px);
            path {
                stroke: none !important;
                fill: none !important;
            }
            .brushElem {
                .selection {
                    stroke: none;
                }
            }
            .xAxisBaseline {
                stroke: none !important;
            }
            .tsi-compactFromTo {
                font-size: 12px;
                bottom: calc(100% - 4px);
                position: absolute;
            }
        }
    }

    .tsi-timePickerTextContainer {
        top: 0;
        width: calc(100% - 160px);
        position: relative;
        margin: 0 80px;
        display: inline-flex;

        .tsi-select {
            top: 4px;
            width: 100px;
            background: url(../../Icons/chevron.svg) 93% / 13% no-repeat;
            background-position-y: 11px;
            width: 132px;
        }

        .tsi-dateTimeInputLabel {
            display: inline-block;
            font-size: 12px;
            top: 0px;
            width: 40px;
            text-align: right;
            text-transform: uppercase;
            opacity: .7;
            font-weight: bold;
        }

        .tsi-dateTimeContainer {
            right: -60px;
            position: absolute;
            display: inline-flex;
            padding-right: 0px;
            cursor: pointer;
            margin-top: 4px;

            .tsi-dateTimeTextContainer {
                white-space: nowrap;
                display: inline-block;
                padding-left: 4px;
                padding-right: 4px;
                height: 24px;
                background: transparent;
                border: none;
                padding: 4px;
                margin-left: 0px;
                margin-top: 2px;
                position: relative;
                top: 0px;
                display: block;
                width: 240px;
                .tsi-dateTimeText {
                    font-size: 14px;
                    background: url(../../Icons/Calendar_Light_Theme.svg) 0% / 5% no-repeat;
                    background-position-y: 10px;
                    background-size: 13px;
                    background-position-x: 8px;
                    padding: 6px 8px 6px 28px;
                    margin-left: 4px;
                }
                .tsi-fromToLabel {
                    opacity: .6;
                    text-transform: capitalize;
                    font-size: 13px;
                    margin-right: 4px;
                }
            }
        }
        .tsi-toText {
            width: 32px;
            font-size: 20px; 
            display: inline-block;
            vertical-align: top;
            text-align: center;
        }

        .tsi-dateTimeErrorDiv {
            width: 200px;
            display: inline-block;
            padding-left: 4px;
            font-size: 12px;
            .tsi-invalidTime {
                height: 20px;
                padding: 4px;
                width: 100%;
            }
        }
    }

    .tsi-zoomButtonContainer {
        display: flex;
        position: absolute;
        right: 44px;
        bottom: 96px;
        width: 16px;
        flex-wrap: wrap;

        .tsi-zoomButton {
            border: none;
            width: 16px;
            height: 16px;
            padding: 0px;
            cursor: pointer;
        }

        .tsi-zoomButtonIn{
            background: url(../../Icons/ZoomIn_Light_Theme.svg) no-repeat;
            background-size: 16px;
        }
        .tsi-zoomButtonOut{
            background: url(../../Icons/ZoomOut_Light_Theme.svg) no-repeat;
            background-size: 16px;
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }

    .tsi-sparklineContainer {
        background: none;
        margin-top: -32px;
        path {
            stroke: none !important;
        }
        .brushElem {
            .handle {
                visibility: visible;
                shape-rendering: unset;
                width: 8px;
                rx: 4px;
                ry: 4px;
            }
        }
    }
}