@import "../../styles";

@mixin tableColors($grays){
    $gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
    $gray5: nth($grays, 5);

    background-color: $gray3;
    color: $gray1;

    .tsi-timePickerContainer {
        background-color: $gray3;
        .tsi-timePickerChart {
            background-color: $gray3;
        }
    }

    .tsi-timePickerTextContainer {
        .tsi-timePicker {
            border-color: $gray5;
        }
    }

    .tsi-sparklineContainer {
        .overlay {
            fill: $gray4;
        }
    }

    &.tsi-compact {
        .tsi-timePickerContainer {
            .overlay {
                fill: $gray4;
            }
            .tsi-compactFromTo {
                background-color: $gray3;
            }

        }
    }

    .tsi-zoomButton{
        background-color: $gray3;
        color: $gray1;
        &:active{
            background-color: $gray2;
        }
    }

    .tsi-dateTimeContainer {
        color: $gray1;
        .tsi-dateTimeButton {
            background-color: rgba($gray5, .4) !important;
            &:hover {
                background-color: $gray5 !important;
            }    
        }
    }

    .tsi-timePicker, .tsi-timePicker > option {
        background-color: $gray3;
        color: $gray1; 
    }    
}

.tsi-availabilityChart {
    .tsi-dateTimePickerContainer {
        position: absolute;
        right: 60px;
        top: calc(100% - 40px);
        background-color: white;
    }

    position: relative;

    &.tsi-dark{
		$grays: grays('dark');
		@include tableColors($grays);
	}
	&.tsi-light{
		$grays: grays('light');
		@include tableColors($grays);
    }

    width: 100%;
    .tsi-timePickerContainer {
        width: calc(100% - 4px);
        height: calc(100% - 48px);
        overflow: visible;
        position: relative;
        .tsi-timePickerChart {
            position: relative;
            .tsi-valueLine {
                stroke-width: 2px;
            }
            height: calc(100% - 4px);
        }
    }
    &.tsi-withButton{
        .tsi-timePickerContainer {
            height: calc(100% - 4px);
        }
    }

    &.tsi-compact {
        .tsi-rangeTextContainer {
            background: none !important;
            transform: translate(-50%, -2px) !important;
        }
        .tsi-timePickerContainer {
            height: calc(100% - 8px);
            path {
                stroke: none !important;
                fill: none !important;
            }
            .brushElem {
                .selection {
                    stroke: none;
                }
            }
            .xAxisBaseline {
                stroke: none !important;
            }
            .tsi-compactFromTo {
                font-size: 12px;
                bottom: calc(100% - 4px);
                position: absolute;
            }
        }
    }

    &.tsi-compact.tsi-withButton{
        .tsi-timePickerContainer {
            height: 100%;
        }
    }

    .tsi-timePickerTextContainer {
        top: 0;
        width: calc(100% - 80px);
        position: relative;

        .tsi-select {
            top: 4px;
            width: 100px;
            background: url(../../Icons/chevron.svg) 16px / 16px no-repeat;
            background-position-y: 12px;
            background-position-x: calc(100% - 4px);
            width: 132px;
        }

        .tsi-dateTimeInputLabel {
            display: inline-block;
            font-size: 12px;
            top: 0px;
            width: 40px;
            text-align: right;
            text-transform: uppercase;
            opacity: .7;
            font-weight: bold;
        }

        .tsi-dateTimeContainer {
            label {
                opacity: .66;
                font-size: 12px;
                line-height: 32px;
            }
            padding-right: 0px;
            margin-top: 4px;
            border: none;
            background-color: transparent;
            font-size: 14px;
            text-transform: capitalize;
            height: 32px;
            float: right;
            display: flex;

            .tsi-dateTimeButton {
                height: 32px;
                margin-left: 8px;
                border: none;                
                cursor: pointer;
                background: url(../../Icons/Calendar_Light_Theme.svg) 0% / 5% no-repeat;
                background-position-y: 10px;
                background-size: 13px;
                background-position-x: 8px;
                padding-left: 28px;
                padding-right: 8px;
                border-radius: 2px;
                position: relative;
            }
            .tsi-dateTimePickerContainer {
                left: unset;
                right: 0;
                top: 0px;
                display: block;
            }
        }
        .tsi-toText {
            width: 32px;
            font-size: 20px; 
            display: inline-block;
            vertical-align: top;
            text-align: center;
        }

        .tsi-dateTimeErrorDiv {
            width: 200px;
            display: inline-block;
            padding-left: 4px;
            font-size: 12px;
            .tsi-invalidTime {
                height: 20px;
                padding: 4px;
                width: 100%;
            }
        }
    }

    .tsi-zoomButtonContainer {
        display: flex;
        position: absolute;
        right: 44px;
        bottom: 96px;
        width: 16px;
        flex-wrap: wrap;

        .tsi-zoomButton {
            border: none;
            width: 16px;
            height: 16px;
            padding: 0px;
            cursor: pointer;
        } 

        .tsi-zoomButtonIn{
            background: url(../../Icons/ZoomIn_Light_Theme.svg) no-repeat;
            @media screen and (-ms-high-contrast: white-on-black) {   
                background: url(../../Icons/Zoomin_Dark_Theme.svg) no-repeat;             
            }  
            background-size: 16px;
        }
        .tsi-zoomButtonOut{
            background: url(../../Icons/ZoomOut_Light_Theme.svg) no-repeat;
            @media screen and (-ms-high-contrast: white-on-black) {    
                 background: url(../../Icons/ZoomOut_Dark_Theme.svg) no-repeat;             
            }   
            background-size: 16px;
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }

    .tsi-sparklineContainer {
        background: none !important;
        margin-top: -32px;
        path {
            stroke: none !important;
        }
        .brushElem {
            .handle {
                visibility: visible;
                shape-rendering: unset;
                width: 8px;
                rx: 4px;
                ry: 4px;
            }
        }
    }
}