@import "../../styles";

.tsi-playback-controls-container {
    padding-left: 20px;
    padding-right: 20px;
}

.tsi-playback-timeline {
    width: 100%;
    height: 32px;
    position: relative;
}

.tsi-playback-timeline svg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.tsi-playback-input {
    position: absolute;
    pointer-events: none;
    height: 100%;
}

.tsi-playback-track, .tsi-playback-handle {
    cursor: pointer;
}

.tsi-playback-track {
    stroke-width: 5px;
    stroke-linecap: round;

    .tsi-left-of-handle {
        stroke: #605E5C;
    }

    .tsi-right-of-handle {
        stroke: #C8C6C4;
    }
}

.tsi-playback-handle {
    stroke-width: 2px;
    stroke: #323130;
    fill: #fff;
}

.tsi-playback-axis {
    position: absolute;
    height: 100%;

    svg {
        width: 100%;
        height: 100%;
        overflow: visible;

        g:first-of-type {
            text-anchor: start;
        }

        g:last-of-type {
            text-anchor: end;
        }
    }
}

.tsi-playback-buttons {
    width: 100%;
    height: 36px;
    margin-top: 16px;
    margin-bottom: 8px;

    .tsi-play-button, .tsi-pause-button {
        padding: 4px;
        background: none;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.tsi-dark {
    .tsi-playback-buttons {
        .tsi-play-button {
            background-image: url(../../Icons/Play_Icon_Dark_Theme.svg);
        }

        .tsi-pause-button {
            background-image: url(../../Icons/Pause_Icon_Dark_Theme.svg);
        }
    }
}

.tsi-light {
    .tsi-playback-buttons {
        .tsi-play-button, .tsi-pause-button {
            margin-left: 6px;
        }

        .tsi-play-button {
            background-image: url(../../Icons/Play_Icon_Light_Theme.svg);
        }

        .tsi-pause-button {
            background-image: url(../../Icons/Pause_Icon_Light_Theme.svg);
        }
    }
}

.tsi-playback-timestamp {
    height: 100%;
    position: relative;
    top: -8px;
}

.tsi-playback-buttons button {
    cursor: pointer;
    width: 36px;
    height: 36px;
}

.tsi-playback-buttons button:focus {
    outline: none;
}