@import "../../styles";

@mixin lcColors($grays){
    $gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
    $gray5: nth($grays, 5);
    $gray6: nth($grays, 6); // hover


    color: $gray1;
    background: $gray3;

    .tsi-rangeTextContainer {
        color: $gray4;
        background-color: $gray1;
    }

    .tsi-lineChartSVG{
        .tsi-discreteEventTeardrop{
            fill: $gray3;
        }        
        .tsi-categoricalHoverRect {
            stroke: $gray1;
        }
        text{
            fill: $gray1;
        }
        .tsi-focus {
            circle{
                fill: $gray1;
            }    
        }
        .tsi-focusLine{
            stroke: $gray2;
        }
        .guideLine{
            stroke: $gray1;
        }

        .standardYAxisText {
            font-weight: lighter !important;
            fill: $gray1 !important;
        }

        .tsi-boldYAxisText{
            font-weight: bolder !important;
        }

        .xAxisBaseline {
            stroke: $gray1 !important;
            pointer-events: none;
            @media screen and (-ms-high-contrast: white-on-black) { 
                stroke: #fff !important;
            }
        }
        .tsi-horizontalValueBar {
            stroke: rgba($gray1, .8);
        }

        .tsi-swimLaneLabel{
            font-weight: 500;
            font-size:13px;
            &.tsi-axisHover{
                font-weight: bolder;
            }
            &.tsi-boldOnHover{
                cursor: pointer;
                &:hover{
                    font-weight: bolder;
                }
            }
        }
    }

    .tsi-scooterContainer {
        color: $gray1;
        .tsi-scooterTimeLabel {
            background-color: $gray3;
            border-color: $gray6;
            .tsi-closeButton {
                background-color: transparent;
                border: none;
                margin: 0;
                &:hover {
                    background-color: $gray2;
                }
            }
        }

        .tsi-scooterLine, .tsi-scooterDragger {
            background-color: $gray6;
        }
    }
    .tsi-markerInstructions {
        background-color: rgba($gray3, .9);
    }
    @include chartColors($grays);
}

.tsi-lineChart {
    .tsi-horizontalValueBox, .tsi-verticalValueBox {
        @extend .tsi-chartValueTextBox;
        z-index: 2;
        pointer-events: none;
    }
    .tsi-horizontalValueBox {
        transform: translateX(-50%);
    }
    .tsi-verticalValueBox {
        transform: translateY(-50%);
    }

    .tsi-horizontalValueBar {
        stroke-width: 3;
    }

    .tsi-rangeTextContainer {
        pointer-events: none;
        height: 17px;
        left: 100px;
        top: 4px;
        position: absolute;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 11px;
        border-radius: 4px;
        transform: translate(-50%,-50%);
        display: flex;
        align-content: center;
        z-index: 1;
    }

    .tsi-chartControlsPanel {
        z-index: 2;
        pointer-events: none;

        .tsi-ellipsisMenuContainer {
            pointer-events: all;
            .tsi-ellipsisMenu {
                z-index: 2 !important;
            }
        }

        .tsi-stackedButton {
            pointer-events: all;
            border: none;
            padding: 0;
            background-color: transparent;
        }

    }

    .tsi-tooltip {
        z-index: 2;
    }

    .tsi-markerInstructions {
        height: 39px;
        width: calc(100% - 8px);
        font-size: 16px;
        text-align: center;
        padding: 4px;
        position: absolute;
        border-radius: 3px;
        bottom: 0px;
        line-height: 26px;
    }

    .tsi-scooterContainer {
        position: absolute;
        pointer-events: none;
        width: 2px;
        transform: translateX(-1px);
        z-index: 1;

        .tsi-scooterDragger, .tsi-scooterTimeLabel {
            pointer-events: all;
        }

        .tsi-scooterDragger {
            -webkit-transform: translateX(calc(-50% + 1px));
            transform: translateX(calc(-50% + 1px));
        }

        .tsi-scooterLine {
            position: absolute;
            height: 100%;
            width: 2px;
            left: 0px;
            top: 0px;
            cursor: move;
        } 

        .tsi-scooterDragger {
            top: 100%;
            position: absolute;
            border-radius: 5px;
            left: 0px;
            width: 10px;
            height: 10px;
            cursor: move;
        }

        .tsi-scooterValue {
            position:absolute;
            .tsi-scooterValueLabel {
                position: absolute;
                left: 10px;
                border-width: 1px;
                border-style: solid;
                padding: 2px 4px;
                font-size: 12px;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }
    
            .tsi-scooterValueCaret {
                left: 2px;
                width: 0; 
                height: 0; 
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-right-width: 8px;
                border-right-style: solid;
                position: absolute;
                transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
            }    
        }
        .tsi-scooterTimeLabel {
            cursor: move;
            bottom: 100%;
            position: absolute;
            left: 0px;
            white-space: nowrap;
            font-size: 12px;
            height: 24px;
            padding-left: 8px;
            padding-right: 24px;
            line-height: 20px;
            border-width: 1px;
            border-style: solid;
            box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);	
            .tsi-closeButton {
                border-radius: 3px;
                position: absolute;
                right: 4px;
                top: 3px;
                width: 15px;
                height: 15px;
                background-size: 12px 12px;
                background-position: 2px 2px;
                background-repeat: no-repeat;
                cursor: pointer;
            }
        }
    }

    .brushElem {
        .handle {
            width: 8px;
            shape-rendering: unset;
        }
        &.hideBrushHandles {
            .handle {
                visibility: hidden;
            }
        }
    }

    .tsi-horizontalMarkerLine {
        stroke-dasharray: 2,2;
    }

    .tsi-horizontalMarkerText {
        font-style: italic;
        text-anchor: end;
    }
    
    &.tsi-dark{
        $grays: grays('dark');
        @include lcColors($grays);
        .tsi-scooterContainer {
            .tsi-scooterValueLabel {
                background-color: rgba(0, 0, 0, .9);
            }
        }

        .tsi-resizeGutter {
            background-image: url(../../Icons/drag_handle_dark.svg)
        }
    }
    &.tsi-light{
        $grays: grays('light');
        @include lcColors($grays);
        .tsi-scooterContainer {
            .tsi-scooterValueLabel {
                background-color: rgba(255, 255, 255, .9);
            }
        }
        .tsi-resizeGutter {
            background-image: url(../../Icons/drag_handle_light.svg);
        }
    }
        
    display: flex;
    position: relative;

    .tsi-lineChartEventsWrapper, .tsi-lineChartStatesWrapper {
        position: absolute;
        pointer-events: none;
        svg {
            display: block;
        }
    }

    .tsi-lineChartSVG {
        .tsi-categoricalHoverRect {
            pointer-events: none;
            fill-opacity: .3;
            stroke-opacity: .5;
            stroke-width: 1px;
        }

        .tsi-backdropRect {
            fill: white;
            fill-opacity: 0;
        }

        .voronoiRect {
            fill-opacity: 0;
            cursor: crosshair;
        }

        .voronoi path {
            fill: none;
            pointer-events: all;
            cursor: crosshair;
        }

        text {
            font-size:12px;
        }

        path{
            fill: none;   
        }

        .tsi-focus {
            circle {
                stroke-width: 1px;
                pointer-events: none;
            }    
        }
        .tsi-focusLine {
            stroke-width: 1px !important;
            pointer-events: none;
        }

        .tsi-valueLine {
            stroke-width: 2px;
            will-change: stroke-opacity;
            stroke-width: 2px;
            stroke-linecap: round;
            stroke-linejoin: round;
            pointer-events: none;
            transition: stroke-opacity .2s ease;
        }

        .tsi-valueEnvelope {
            pointer-events: none;
        }

        .tsi-valueArea {
            stroke: none;
            will-change: fill-opacity;
        }

        .tsi-valueDot {
            stroke: none;
            pointer-events: none;
        }

        .tsi-gapLine {
            stroke-width: 1px !important;
        }
    }
    .tsi-stackedButton {
        &.tsi-lightTheme {
            background-image: url(../../Icons/Layer_Icon_Light_Theme.svg);
        }
        &.tsi-darkTheme {
            background-image: url(../../Icons/Layer_Icon_Dark_Theme.svg);
        }
    }

    .tsi-ellipsisContainerDiv {
        left: auto;
        right: 20px;
        top: 0px;
        position: absolute;
    }

    .tsi-scooterButton {
        cursor: pointer;
        border-radius: 3px;
        border-width: 1px;
        border-style: solid;
        border-color: transparent;
        &.tsi-lightTheme {
            background-image: url(../../Icons/flag_light_theme.svg);
        }
        &.tsi-darkTheme {
            background-image: url(../..//Icons/flag_dark_theme.svg);
        }
    }

    &.tsi-light {
        .tsi-scooterContainer {
            .tsi-scooterTimeLabel {
                .tsi-closeButton {
                    background-image: url(../../Icons/Close_Icon_Light_Theme.svg);
                }
            }
        }
    }

    &.tsi-dark {
        .tsi-scooterContainer {
            .tsi-scooterTimeLabel {
                .tsi-closeButton {
                    background-image: url(../../Icons/Close_Icon_Dark_Theme.svg);
                }
            }
        }
    }
}
