// global gray colors mixin based on theme
// Array of [text color, hover color, element color, background color, alt element, hover text]
@function grays($theme){
    @if $theme == 'dark'{
        @return #fff, #62666c, #0d0f0e, #1e2223, #31373e, #60AAFF, #666666;
    } 
    @if $theme == 'light'{
        @return #000, #b3d6f2, #ffffff, #f2f2f2, #dcdcdc, #136BFB, #a6a6a6;
    }
}

.tsi-hidden{
    display: none;
}

@keyframes tsi-slideIn {   
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1; 
    }
}

<<<<<<< HEAD
@keyframes tsi-slideRight {   
    from {
        transform: translateX(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1; 
    }
}

@mixin baseContextMenuColors($grays){
    $gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
	$gray5: nth($grays, 5); // alt element
    $gray6: nth($grays, 6);
    .tsi-baseContextMenu{
        background: $gray4;
        color: $gray1;
        border: 1px solid $gray6;
        > div{
            &:hover{
                background: $gray2;
                cursor: pointer;
            }
        }        
    }
}

.tsi-baseContextMenu{
    white-space: nowrap;
    padding: 4px 0;
    animation: tsi-slideRight 0.367s cubic-bezier(0.1, 0.9, 0.2, 1) forwards;
    > div{
        padding: 4px 8px;
        font-size: 12px;
    }
=======
.tsi-primaryButton {
    height: 36px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
>>>>>>> master
}

.tsi-chartControlsPanel {
    height: 20px;
    right: 0px;
    width: 100px;
    position: absolute;
    z-index: 2;
    pointer-events: none;

    .tsi-ellipsisContainerDiv {
        pointer-events: all;
        left: auto;
        right: 20px;
        top: 0px;
        position: absolute;
<<<<<<< HEAD
        height: 100%;
        width: 20px;
        left: 60px;
        cursor: pointer;
=======
        .tsi-ellipsisMenuContainer {
            pointer-events: all;
            .tsi-ellipsisMenu {
                z-index: 2 !important;
            }
        }    
>>>>>>> master
    }

    .tsi-stackedButton {
        pointer-events: all;
        display: block;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center; 
        position: absolute;
        height: 100%;
        width: 20px;
        cursor: pointer;
    }

    .tsi-scooterButton {
        display: block;
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center; 
        position: absolute;
        height: 20px;
        width: 20px;
    }
}
select::-ms-expand {
    display: none;
}
.tsi-select {
    margin: 2px;
    position: relative;
    option {
        padding: 6px;
    }
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 6px;
    padding-right: 28px;
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    white-space: nowrap;
    overflow: hidden;
    height: 32px;
    background-position-y: 12px;
    background-position-x: calc(100% - 4px);
}

.pika-single {
    border-bottom: none;
    border-left: none;
    border-right: none;
    .pika-lendar {
        abbr {
            text-decoration: none;
        }
        text-decoration: none;
        width: 196px;
        margin-left: 12px;
        margin-right: 6px;
        .pika-table {
            .pika-row {
                height: 28px;
                margin: 0px;
                td {
                    padding: 0px;
                    &.is-inrange {
                        .pika-day {
                            background-color:#d5ebe9; 
                        }
                    }
                    &.is-endrange, &.is-startrange {
                        .pika-day {
                            background-color: #309d90;
                            color: white;
                            &:hover {
                                background-color: #309d90;
                                color: white;
                            }
                        }
                    }

                    &.is-startrange {
                        button {
                            border-bottom-left-radius: 8px;
                            border-top-left-radius: 8px;
                        }
                    }
                    &.is-endrange {
                        button {
                            border-bottom-right-radius: 8px;
                            border-top-right-radius: 8px;
                        }
                    }

                    .pika-day {
                        width: 100%;
                        height: 28px;
                        width: 28px;
                        margin: 0px;
                        &:hover {
                            background-color: #309d90;
                            color: white;
                        }
                    }
                }
            }
            .pika-button {
                border-radius: 0px;
                text-align: center;
            }
        }
    }
}

@mixin chartColors($grays){
    $gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
    $gray5: nth($grays, 5);
    $gray6: nth($grays, 6); // text hover
    $gray7: nth($grays, 7); // scroll bar thumb
    
    .yAxis, .xAxis{
        path{
            stroke: $gray1;
        }
        .tick{
            text{
                fill: $gray1;
            }
            line{
                stroke: $gray1;
            }
        }
    }
    .vHoverBox, .hHoverBox {
        fill: $gray3;
        stroke: $gray6;
    }

    ::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: none; 
    }
    ::-webkit-scrollbar-thumb {
        background: $gray7; 
        border-radius: 8px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: $gray7; 
    }
    ::-webkit-scrollbar-track:hover {
        background: $gray4; 
    }


    .hHoverText {
        text-anchor: middle;
    }
    
    .vHoverText {
        text-anchor: end;
    }
    
    .hoverText {
        stroke: none;
    }
    .hHoverText, .vHoverText {
        font-size: 11px !important;
    }

    .hHoverValueBar {
        stroke: $gray1;
    }
    .hoverText{
        fill: $gray1;
    }
    .stacked {
        g{  
            path{
                fill: $gray1 !important;
            }
        }
    }

    .tooltip {
        text {
            fill: $gray1;
        }
        rect {
            fill: $gray3;
            stroke: $gray6;
        }
    }

    .tsi-primaryButton {
        color: $gray1;
        border-color: rgba($gray1, .8);
        background-color: $gray4;
        &:hover {
            background-color: $gray2;
        }
    }


    .yAxis, .xAxis{
        path{
            stroke-width: 1px !important;
        }
        .tick{
            text{
                user-select: none;
            }
        }
    }
    
    rect, line {
        shape-rendering: crispedges;
    }
    
    .stacked {
        g{  
            path{
                stroke-width: 1;
                pointer-events: all;
                stroke: none;
            }
        }
        rect{
            cursor: pointer;
            fill: transparent;
            stroke-width: 1;
        }
    }
    
    .tooltip {
        pointer-events: none;
    
        text {
            alignment-baseline: hanging;
        }
        .title {
            font-weight: bold;
            font-size: 13px;
        } 
        .value {
            font-weight: normal;
            font-size: 12px;
            font-weight: lighter;
            &.visibleValue {
                font-weight: bold;
            }
        }
    }

    .tsi-gridComponent {
        z-index: 3 !important;
    }

    .hHoverValueBar {
        stroke-width: 4px;
    }
    
    .focus{
        display: none;
    }

    svg {
        display: block;
    }
}