@import "../../styles";

.tsi-dark{
    $grays: grays('dark');
    @include baseContextMenuColors($grays);
}
.tsi-light{
    $grays: grays('light');
    @include baseContextMenuColors($grays);
}

.tsi-contextMenu {
    @extend .tsi-baseContextMenu;
    display: none;
    position: absolute;
    height: auto;
    max-width: 200px;
    z-index: 2;

    .tsi-actionElement {
        padding: 4px 16px;
        cursor: default;
        font-size: 12px;
    }
	
}