@import "../../styles";

@mixin tColors($grays) {
    $gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
    $gray6: nth($grays, 6); // hover

    color: $gray1;
    background-color: $gray3;
    border-color: $gray6;
    @include chartColors($grays);
}

.tsi-process-graphic-target {
    &.tsi-dark{
        $grays: grays('dark');
        @include tColors($grays);
    }

    &.tsi-light{
        $grays: grays('light');
        @include tColors($grays);
    }
}

.tsi-process-graphic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.tsi-process-graphic {
    position: relative;
}

.tsi-process-graphic img {
    width: 100%;
    height: 100%;
}

.tsi-process-graphic-label {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    padding: 8px;

    &.clickable {
        cursor: pointer;
    }

    &.tsi-dark {
        $grays: grays('dark');
        @include tColors($grays);

        &.tsi-label-highlight {
            animation: border-glow-dark .6s ease-out 0s 1;
        }
    }

    &.tsi-light {
        $grays: grays('light');
        @include tColors($grays);

        &.tsi-label-highlight {
            animation: border-glow-light .6s ease-out 0s 1;
        }
    }

    .title, .value {
        overflow: hidden;
        white-space: nowrap;
    }

    .value {
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 12px;
    }

    .title {
        font-weight: bold;
        font-size: 13px;
    }
}

@keyframes border-glow-dark {
    from {
        box-shadow: 0px 0px 4px 0px white;
    }

    to {
        box-shadow: none;
    }
}

@keyframes border-glow-light {
    from {
        $grays: grays('dark');
        box-shadow: 0px 0px 4px 0px nth($grays, 6);
    }

    to {
        box-shadow: none;
    }
}