@import "../../styles";

@mixin legendColors($grays){
	$gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
	$gray5: nth($grays, 5); // alt element
    $gray6: nth($grays, 6); // 
	
	color: $gray1;
	fill: $gray1;
	path {
		stroke: $gray1;
	}

	.seriesLabel{
		&:not(.shown) {
		}
		.seriesNameLabel, .splitByLabel {
			select {
				color: #999;
				background-color: transparent;
				border: 1px solid transparent;
				option{
					background: $gray3;
				}
			}			
		}
		.seriesNameLabel {
			&.shown {
				background-color: $gray3;
			}
		}
		.splitByLabel, .seriesNameLabel {
			&:hover, &.inFocus {
				color: $gray6;    
			}
			&.stickied {
				color: $gray4;
				background-color: $gray1;
				&:hover, &.inFocus {
					color: $gray6;
				}
			}
		}						
	}
}

.tsi-legend {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 16px);
	padding: 8px;
	&.tsi-dark{
        $grays: grays('dark');
        @include legendColors($grays);
    }
    &.tsi-light{
        $grays: grays('light');
        @include legendColors($grays);
    }
	
	&.compact{
		height: 40px !important;
		width: 100% !important;
		position: absolute;
		overflow: visible;
		display: flex;
		justify-content: center;
		border-right: none;
		padding: 0;
		.seriesLabel, .eventSeriesLabel{
			border: none;
			padding: 0;
			text-align: center;
			margin: 4px;
			&:not(.shown) {
				border: none;
			}
			.seriesNameLabel{
				display: none;
			}
			select{
				display: none;
			}
			.splitByLabel{
				display: inline-block;
				margin: 0 4px;
				padding: 0 4px 1px 4px;
				border-radius: 3px;
				height: 20px;
				margin-top: -1px;
				.colorKey{
					display: block;
					position: absolute;
					height: 10px;
					width: 10px;
					top: -3px;
				}
				h5{
					max-width: 100px;
					margin-left: 16px;
					margin-right: 16px;
					text-align: left;
					width: initial;
					font-size: 12px;
				}
			}
		}
	}
	
	.seriesLabel, .eventSeriesLabel, .stateSeriesLabel {
		margin: 8px;
		
		.seriesNameLabel, .splitByLabel {
			display:flex;
			&:not(.shown) {
				opacity:.3;
			}
			&.shown {
				opacity:1;
			}

			h4, h5 {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				margin-top:2px;
				margin-bottom:4px;
				cursor: pointer;
				font-weight: 400;
			}

			h4 {
				font-weight: 600;
				font-size: 14px;
			}

			h5 {
				overflow-x:hidden;
				text-overflow: ellipsis;
				font-size: 14px;
			}
			select {
				left: 20px;
				width: 60px;
				margin: 2px;
				border: none;
				position: absolute;
				top: 16px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				padding: 2px;
				background: url(../../Icons/chevron.svg) 90% / 30% no-repeat;
				background-position-y: 7px;
			}
			select::-ms-expand { 
				display: none; /* remove default arrow on ie10 and ie11 */
			}
		}
		.seriesNameLabel {
			&.tsi-nsb{
				display: none;
			}
			svg {
				display: inline-block;
			}
			cursor: pointer;
			padding: 0 4px;
			position: relative;
			select{
				height: 17px;
				width: 50px;
				position: absolute;
				right: 4px;
				top: 6px;
				display: none;
			}
		}
		.splitByLabel {
			font-size: 16px;
			padding: 0 4px;
			position: relative;
			height: 40px;

			&.hidden {
				height:0px;
				display: none;
				padding: 0;
			}
			
			.colorKey {
				width: 12px;
				height: 12px;
				margin-top: 8px;
				margin-right: 8px;
				border-radius: 6px;
				position: relative;
				top: -2px;
			}
		}
		.seriesTypeLabel {
			margin: 0;
			cursor: pointer;
			font-weight: normal;
			padding-left: 8px;
			
			&.disabled {
				display: none;
			}
		}
	}
	.eventSeriesLabel, .stateSeriesLabel { 
		&:not(.shown) {
			opacity:.3;
		}
		&.shown {
			opacity:1;
		}

		.seriesNameLabel {
			opacity: 1 !important;
			h4 {
				width: 100% !important;
			}
		}
	}
	
}