@import "../../styles";

@mixin legendColors($grays){
	$gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
	$gray5: nth($grays, 5); // alt element
    $gray6: nth($grays, 6);
	
	color: $gray1;
	fill: $gray1;
	path {
		stroke: $gray1;
	}

	.tsi-seriesLabel{
		.tsi-seriesNameLabel, .tsi-splitByContainer .tsi-splitByLabel {
			select {
				color: #999;
				background-color: transparent;
				border: 1px solid transparent;
				option{
					background: $gray3;
				}
			}			
		}
		.tsi-seriesNameLabel {
			&.shown {
				background-color: $gray3;
			}
		}
		.tsi-splitByContainer .tsi-splitByLabel, .tsi-seriesNameLabel {
			&:hover, &.inFocus {
				color: $gray6;    
			}
			&.stickied {
				color: $gray4;
				background-color: $gray1;
				&:hover, &.inFocus {
					color: $gray6;
				}
			}
		}						
	}
}

.tsi-legend {
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100% - 16px);
	padding: 8px;
	&.tsi-dark{
        $grays: grays('dark');
        @include legendColors($grays);
    }
    &.tsi-light{
        $grays: grays('light');
        @include legendColors($grays);
	}
	
	&.hidden {
		display: none;
	}
	&:not(.hidden) {
		display: block;
	}
	
	&.compact{
		margin-left: 20px;
		margin-right: 20px;
		top: 8px;
		height: 48px !important;
		width: calc(100% - 40px) !important;
		position: absolute;
		overflow: visible;
		display: flex;
		justify-content: center;
		border-right: none;
		padding: 0;

		.tsi-seriesLabel {
			overflow-y: hidden;
			overflow-x: hidden;
			&:hover {
				overflow-x: auto;
			}
			white-space: nowrap;

		}

		.tsi-seriesLabel, .tsi-eventSeriesLabel{
			border: none;
			padding: 0;
			text-align: center;
			margin: 4px;

			&:not(.shown) {
				border: none;
			}
			.tsi-seriesNameLabel{
				display: none;
			}
			select{
				display: none;
			}
			.tsi-splitByContainer {
				max-height: 140px;

				.tsi-splitByLabel{
					display: inline-block;
					margin: 0 4px;
					padding: 0 4px 1px 4px;
					height: 20px;
					margin-top: 1px;
					overflow: hidden;
					.tsi-colorKey{
						display: block;
						position: absolute;
						height: 10px;
						width: 10px;
						top: -3px;
					}
					h5{
						max-width: 100px;
						margin-left: 16px;
						margin-right: 0px;
						text-align: left;
						width: initial;
						font-size: 12px;
					}
				}
			}
		}
	}

	&:not(.compact) {


		.tsi-seriesLabel {
			.tsi-splitByContainer {
				overflow-y: auto;
				visibility: hidden;

				.tsi-splitByLabel,
				&:hover,
				&:focus {
					visibility: visible;
				}
			}
		}


		.tsi-seriesLabel, .tsi-eventSeriesLabel, .tsi-stateSeriesLabel {
			.tsi-seriesNameLabel .tsi-eyeIcon, .tsi-splitByContainer .tsi-splitByLabel .tsi-eyeIcon {
				display: block;
				background-size: 16px 16px;
				background-repeat: no-repeat;
    			background-position: center; 
				position: absolute;
				height: 100%;
				width: 16px;
				right: 8px;
			}
			.tsi-eyeIcon {
				cursor: pointer;
			}
		}

		&.tsi-light {

			.tsi-seriesLabel, .tsi-eventSeriesLabel, .tsi-stateSeriesLabel {
				.tsi-seriesNameLabel .tsi-eyeIcon, .tsi-splitByContainer .tsi-splitByLabel .tsi-eyeIcon {
					background-image: url(../../Icons/Eye_light_theme.svg);
				}

				.tsi-seriesNameLabel.stickied .tsi-eyeIcon, .tsi-splitByContainer .tsi-splitByLabel.stickied .tsi-eyeIcon {
					background-image: url(../../Icons/Eye_dark_theme.svg);
				}
			}
		}

		&.tsi-dark {
			.tsi-seriesLabel, .tsi-eventSeriesLabel, .tsi-stateSeriesLabel {
				.tsi-seriesNameLabel .tsi-eyeIcon, .tsi-splitByContainer .tsi-splitByLabel .tsi-eyeIcon {
					background-image: url(../../Icons/Eye_dark_theme.svg);
				}

				.tsi-seriesNameLabel.stickied .tsi-eyeIcon, .tsi-splitByContainer .tsi-splitByLabel.stickied .tsi-eyeIcon {
					background-image: url(../../Icons/Eye_light_theme.svg);
				}
			}
		}
	}

	.tsi-eventSeriesLabel, .tsi-stateSeriesLabel, .tsi-seriesLabel .tsi-seriesNameLabel, .tsi-seriesLabel .tsi-splitByContainer .tsi-splitByLabel {
		&:not(.shown) {
			opacity:.3;
		}
		&.shown {
			opacity:1;
		}
	}

	.tsi-seriesLabel, .tsi-eventSeriesLabel, .tsi-stateSeriesLabel {
		margin: 8px;
		.tsi-seriesNameLabel, .tsi-splitByContainer .tsi-splitByLabel {
			display:flex;
			h4, h5 {
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				margin-top:2px;
				margin-bottom:4px;
				font-weight: 400;
				margin-right: 36px;
			}

			h4 {
				cursor: pointer;
				font-weight: 600;
				font-size: 14px;
			}

			h5 {
				cursor: default;
				overflow-x:hidden;
				text-overflow: ellipsis;
				font-size: 14px;
			}
			select {
				left: 20px;
				width: 60px;
				margin: 2px;
				border: none;
				position: absolute;
				top: 16px;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				padding: 2px;
				background: url(../../Icons/chevron.svg) 90% / 30% no-repeat;
				background-position-y: 7px;
			}
			select::-ms-expand { 
				display: none; /* remove default arrow on ie10 and ie11 */
			}
		}
		.tsi-seriesNameLabel {
			&.tsi-nsb{
				display: none;
			}
			svg {
				display: inline-block;
			}
			cursor: pointer;
			padding: 0 4px;
			position: relative;
			select{
				height: 17px;
				width: 50px;
				position: absolute;
				right: 4px;
				top: 6px;
				display: none;
			}
		}
		.tsi-splitByContainer .tsi-splitByLabel {
			font-size: 16px;
			padding: 0 4px;
			position: relative;
			height: 40px;
			border-radius: 3px;

			&.hidden {
				height:0px;
				display: none;
				padding: 0;
			}
			
			.tsi-colorKey {
				flex-shrink: 0;
				width: 12px;
				height: 12px;
				margin-top: 8px;
				margin-right: 8px;
				border-radius: 6px;
				position: relative;
				top: -2px;
			}
		}
		.tsi-seriesTypeLabel {
			margin: 0;
			cursor: pointer;
			font-weight: normal;
			padding-left: 8px;
			
			&.disabled {
				display: none;
			}
		}
	}
	
}