@import "../../styles";

@mixin bcColors($grays){
    $gray1: nth($grays, 1);
    $gray2: nth($grays, 2); 
    $gray3: nth($grays, 3); 
    $gray4: nth($grays, 4); 
    
    text {
        fill: $gray1;
    }    
    color: $gray1;
    background: $gray3;
    .tsi-barChartSVG {
        .tsi-baseLine{
            stroke: $gray1;
        }
        .focusLine {
            stroke: $gray2;
        }
        .aggregateLabelBox{
            fill: $gray3;
        }        
    }    
    @include chartColors($grays);
}

.tsi-barChart {
    
    &.tsi-dark{
        $grays: grays('dark');
        @include bcColors($grays);
    }
    &.tsi-light{
        $grays: grays('light');
        @include bcColors($grays);
    }

    text {
        font-size:12px;
    }
    display: flex;
    position: relative;
    .tsi-barChartSVG {
        .valueElement {
            cursor: pointer;
            stroke: none;
        }
        .focusLine {
            stroke-width: 1px;
            pointer-events: none;
        }
    }
    .tsi-sliderWrapper{
        position: absolute;
        height: 55px;
        bottom: 8px;
        right: 0px;
        width: 100%;
    }
    .tsi-stackedButton {
        &.tsi-lightTheme {
            background-image: url(../../Icons/Layer_Icon_Light_Theme.svg);
        }
        &.tsi-darkTheme {
            background-image: url(../../Icons/Layer_Icon_Dark_Theme.svg);
        }
    }
    .tsi-gridButton {
        &.tsi-lightTheme {
            background-image: url(../../Icons/Calendar_Icon_for_Light_Theme.svg);
        }
        &.tsi-darkTheme {
            background-image: url(../..//Icons/Calendar_Icon_for_Dark_Theme.svg);
        }
    }
}
