@import "../../styles";

@mixin tColors($grays){
    $gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
    $gray6: nth($grays, 6); // hover
    
    color: $gray1;
    background-color: $gray3;
    border-color: $gray6;
    @include chartColors($grays);
}

.tsi-tooltip {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
    
    padding: 8px 16px 8px 16px;

    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.56);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.56);

    &.tsi-dark{
        $grays: grays('dark');
        @include tColors($grays);
    }
    &.tsi-light{
        $grays: grays('light');
        @include tColors($grays);
    }

    .title, .value {
        overflow: hidden;
        white-space: nowrap;
    }

    .title {
        font-weight: bold;
        font-size: 16px;
    } 
    .value, .temporalShiftText {
        font-weight: normal;
        font-size: 14px;
        font-weight: lighter;
        &.visibleValue {
            font-weight: bold;
        }
    }

    .temporalShiftText {
        font-style: italic;
    }

    .valueGroup {
        margin-top: 8px;    
    }
}