@import "../../styles";

.tsi-eventSeries{
	&.tsi-dark{
		$grays: grays('dark');
        @include chartColors($grays);
	}
	&.tsi-light{
		$grays: grays('light');
        @include chartColors($grays);
    }
    
    svg {
        pointer-events: none;
        overflow: visible;
    
        rect {
            pointer-events: all;
        }
    }
}