@import "../../styles";

@mixin hierarchyColors($grays){
    $gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
	$gray5: nth($grays, 5); // alt element
    $gray6: nth($grays, 6);
    color: $gray1;
    background: $gray3;

    hit{
        background: #fff9a8;
        font-weight: 600;
        color: black;
    }

    .tsi-show-more{
        color: $gray6;
    }

    .tsi-hierarchy-or-list-wrapper {
        li{                     
            .tsi-markedName{
                &:hover{
                    cursor: default;
                    background: $gray4;
                }
                &:focus {
                    outline: none;
                    background: $gray4;
                }
            }
            &.tsi-resultSelected{
                background-color: transparent;
                .tsi-markedName{
                    background: $gray2;
                }
            }
        }
    }

    .tsi-nav-tab.tsi-selected{
        border-bottom: 2px solid $gray1 !important;
    }

    .tsi-modelResultWrapper{
        border-bottom: 1px solid rgba($gray1, .05);
        &:hover, &:focus {
            background-color: $gray4;
            outline: none;
            &::after{
                content: "";
                position: absolute;
                width: 14px;
                height: 14px;
                top: 8px;
                left: calc(100% - 20px);
                background: url(../../Icons/chevron.svg) no-repeat;
                transform: rotate(-90deg);
            }
        }
        &.tsi-selected {
            background-color: $gray2;
        }
    }
    .tsi-hierarchyNavigationContextMenu{
        li:hover, li:focus{
            background: $gray4;
            outline: none;
        }
    }
    .tsi-leaf {
        .tsi-markedName{
            cursor: pointer !important;
        }
        &.tsi-selected {
            background: $gray2;
            .tsi-markedName{
                &:hover{
                    background: $gray2;
                }
            }
        }
    }

    .tsi-filter-clear {
        &:focus{
            outline: 1px solid $gray6;
        }
    }

    .tsi-hierarchy-selection-wrapper {
        .tsi-hierarchy-select {
            background: $gray3;
            border: 1px solid $gray5;
            color: $gray1;
            &:hover{
                background-color: $gray4;
            }

            &:focus {
                box-shadow: 0px 4px 4px $gray5;
            }
        }
    
        .tsi-hierarchy-list-wrapper {
            background: $gray3;
            box-shadow: 0px 4px 4px $gray5;
            li {
                background: $gray3;
                &:hover, &:focus{
                    background-color: $gray4 !important;
                }
                &.selected {
                    background-color: $gray5;
                }
            }
        }
    }

    .tsi-filter-path {
        .tsi-path {
            &:hover, &:focus {
                background-color: $gray5;
            }
        }
    }

    .tsi-hierarchy-search {
        .tsi-view-type {
            outline: 1px solid $gray5;
            &.selected {
                background-color: $gray2;
            }
            &:focus {
                outline: 1px solid $gray6;
                z-index: 2;
            }
        }
    }

    .tsi-search-global {
        a {
            color: $gray6;
            &:hover, &:focus {
                outline: none;
                text-decoration: underline;
            }
        }
    }

    input {
        border: 1px solid $gray5;
        background-color: $gray3;
        color: $gray1;
    }

    @include baseContextMenuColors($grays);
}   

.tsi-hierarchy-nav-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &.tsi-dark{
        $grays: grays('dark');
        @include hierarchyColors($grays);
        .tsi-caret-icon, .tsi-down-caret-icon {
            background-image: url(../../Icons/CaretClosed_Dark_Theme.svg);
        }
        .tsi-pin-icon {
            background-image: url(../../Icons/Pin_Icon_Dark_Theme.svg);
        }
        .tsi-close-icon {
            background-image: url(../../Icons/Close_Icon_Dark_Theme.svg);
        }

        .tsi-tree-icon {
            background-image: url(../../Icons/Tree_Icon_Dark_Theme.svg);
        }

        .tsi-list-icon {
            background-image: url(../../Icons/List_Icon_Dark_Theme.svg);
        }

        .tsi-filter-icon {
            background-image: url(../../Icons/Filter_Icon_Dark_Theme.svg);
        }
    }
    &.tsi-light{
        $grays: grays('light');
        @include hierarchyColors($grays);
        .tsi-caret-icon, .tsi-down-caret-icon{
            background-image: url(../../Icons/CaretClosed_Light_Theme.svg);
        }
        .tsi-pin-icon {
            background-image: url(../../Icons/Pin_Icon_Light_Theme.svg);
        }

        .tsi-close-icon {
            background-image: url(../../Icons/Close_Icon_Light_Theme.svg);
        }

        .tsi-tree-icon {
            background-image: url(../../Icons/Tree_Icon_Light_Theme.svg);
        }

        .tsi-list-icon {
            background-image: url(../../Icons/List_Icon_Light_Theme.svg);
        }

        .tsi-filter-icon {
            background-image: url(../../Icons/Filter_Icon_Light_Theme.svg);
        }
    }

    .tsi-hierarchy-selection-wrapper {
        padding: 20px 20px 8px;
        flex-direction: column;
        display: flex;
        z-index: 3;
        position: relative;

        .tsi-hierarchy-select {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 0 8px;;
            box-sizing: border-box;
            border-radius: 2px;
            height: 32px;

            .tsi-hierarchy-name {
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: calc(100% - 10px);
                padding-right: 8px;
                text-align: left;
            }

            &:hover{
                cursor: pointer;
            }
        }

        .tsi-hierarchy-list-wrapper {
            display: none;
            z-index: 3;
            position: absolute;
            width: calc(100% - 40px);
            top: 53px;

            ul {
                font-size: 14px;

                li {
                    padding: 8px;
                    outline: none;
                    &:hover {
                        cursor: pointer;
                    }
                    &:focus {
                        z-index: 2;
                    }
                }
            }
        }
    }

    .tsi-hierarchy-search {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        margin-top: -8px;
        flex-direction: row;

        ul {
            z-index: 2 !important;
            width: 100% !important;
            margin: -8px 0 !important; 
        }

        input {
            width: 100% !important;
            margin: 8px 32px 8px 0px !important;
            padding: 8px 32px 8px 8px !important;
            height: 32px;
        }

        .tsi-view-types {
            display: none;
            flex-direction: row;
            animation: fade-in .2s ease-in-out;

            .tsi-view-type {
                width: 32px;
                height: 32px;
                padding: 8px;
                margin-left: 1px;
                align-items: center;
                cursor: pointer;

                .tsi-tree-icon {
                    display: inline-block;
                }
    
                .tsi-list-icon {
                    display: inline-block;
                }
            }
        }
        
        .tsi-modelAutocompleteWrapper {
            position: relative;
            display: inline-flex;
            flex-grow: 1;

            .tsi-clear {
                right: 4px !important;
                left: unset !important;
                margin-top: 0px !important;
            }
        }
    }

    .tsi-filter-path-wrapper {
        display: flex;
        height: 0px;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.2s ease-out;
        opacity: 0.5;

        &.visible {
            height: 24px;
            transform: scaleY(1);
            padding: 0px 20px;
            margin-top: -4px;
        }

        .tsi-filter-path {
            display: flex;
            width: 100%;
            align-items: center;
            flex-direction: row;
            padding: 0;

            .tsi-filter-icon {
                width: 12px;
                height: 10px;
                cursor: auto;
                margin-right: 4px;
            }
    
            .tsi-path-list {
                display: flex;
                align-items: center;
                max-width: calc(100% - 36px);

                .tsi-path {
                    font-size: 12px;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    padding: 4px;
                    border-radius: 4px;
                    cursor: pointer;
                    outline: none;

                    &:first-child, &:last-child {
                        min-width: 32px;
                    }

                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
    
            .tsi-filter-clear {
                width: 12px !important;
                height: 12px !important;
                margin-left: auto;
                display: none;
                cursor: pointer;
            }
        }  
    }

    .tsi-search-global {
        display: none;
        animation: fade-in .2s ease-in-out;
        padding: 0 20px 8px;

        a {
            text-decoration: none;
            cursor: pointer;
            font-size: 12px;
            white-space: nowrap;
            padding: 0 !important;
        }
    }

    .tsi-hierarchy-or-list-wrapper {
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        min-height: 0px;
        padding-top: 8px;
        position: relative;

        .tsi-noResults {
            display: block;
            white-space: nowrap;
            margin-left: 20px;
            font-size: 14px;
        }

        .tsi-hierarchy {
            width: 100%;
            overflow-y: auto;
        }

        .tsi-list {
            overflow-y: auto;
            width: 100%;
            display: none;

            .tsi-modelResultWrapper {
                cursor: pointer;
                position: relative;
                max-height: 206px;
                overflow: hidden;
                animation: fade-in .2s ease-in-out;

                .tsi-modelResult{
                    pointer-events: none;
                    padding: 8px 20px;
                    .tsi-modelPK{
                        font-weight: 600;   
                        font-size: 14px
                    }
                    .tsi-modelHighlights{
                        font-size: 12px;
                        padding-top: 2px;
                        padding-left: 8px;
                        padding-bottom: 2px;
                        table{
                            border-spacing: 0;
                            margin-top: 2px;
                            tr{
                                td {
                                    padding: 0;
                                    vertical-align: top;
                                    &:first-of-type{
                                        opacity: .6;
                                    }
                                    &:nth-of-type(2){
                                        padding-left: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .tsi-show-more{
                text-align: center !important;
                padding: 8px;
            }
        }
        .tsi-show-more{
            font-size: 14px;
            span {
                cursor: pointer !important;
            }
        }
    }

    .tsi-pin-icon {
        z-index: 3 !important;
        right: 20px;
        position: absolute;
        visibility: hidden;
        height: 16px;
        width: 16px;
        cursor: pointer;
        background-size: 10px;
        background-repeat: no-repeat;
        top: 6px;
        background-position: 50%;
    }

    .tsi-down-caret-icon {
        height: 14px;
        width: 14px;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(90deg);
    }

    .tsi-close-icon, .tsi-list-icon, .tsi-tree-icon, .tsi-filter-icon {
        cursor: pointer;
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        
        &.tsi-noPad{
            padding: 8px 20px;
            margin: 0;
            overflow: auto;
            height: 100%;
        }
    }

    li {
        position: relative;
        animation: fade-in .2s ease-in-out;

        .tsi-caret-icon{
            position: absolute;
            display: block;
            height: 10px;
            width: 10px;
            cursor: pointer;
            z-index: 1;
            background-size: 10px;
            background-repeat: no-repeat;
            top: 11px;
            background-position: 50%;
            transition: all .2s ease;
            pointer-events: none;
            transform: rotate(0deg);
        }
        .tsi-markedName{
            display: flex;
            position: relative;
            margin: 0;
            min-height: 28px;
            font-size: 14px;
            align-items: center;
            padding-right: 40px;

            .tsi-name {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            .tsi-childCount {
                opacity: .6;
                padding-left: 8px;
                font-size: 11px;
                position: relative;
                top: 1px;
            }

            .tsi-highlights-detail {
                font-weight: 400;
                font-size: 12px;
                padding-top: 2px;
                padding-left: 8px;
                padding-bottom: 2px;
                display: block;
            
                table {
                    margin-top: 2px;
                    tr {
                        td {
                            padding: 0;
                            vertical-align: top;
                            &:first-of-type{
                                opacity: .6;
                            }
                            &:nth-of-type(2){
                                padding-left: 8px;
                            }
                        }
                    }
                }
            }
        }
        &.tsi-expanded{
            > .tsi-caret-icon{
                content: '';
                cursor: pointer;
                transform: rotate(90deg);
            }
        }
        &.tsi-leaf {
            font-weight: 600;
        }
    }

    .tsi-noBefore .tsi-caret-icon{
        content: '' !important;
    }

    .tsi-hierarchyNavigationContextMenu{
        @extend .tsi-baseContextMenu;
        position: absolute;
        left: calc(100% - 32px);
        top: 0px;
        z-index: 4;
        transition: top .2 ease-in-out;
        max-height: 240px;
        overflow: auto;

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            padding: 4px 8px;
            font-size: 12px;
            cursor: pointer;
            height: 28px;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
    }

    @keyframes fade-in {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }
}
