@import "../../styles";

@mixin hierarchyColors($grays){
	$gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
	$gray5: nth($grays, 5); // alt element
    $gray6: nth($grays, 6);
    color: $gray1;
    background: $gray3;

    hit{
        background: #fff9a8;
        font-weight: 600;
        color: black;
    }

    .tsi-show-more{
        color: $gray6;
    }

    .tsi-hierarchy-wrapper{
        li{
            .tsi-markedName{
                &:hover{
                    cursor: pointer;
                    background: $gray2;
                }
            }
            &.tsi-resultSelected{
                background-color: transparent;
                .tsi-markedName{
                    background: $gray2;
                }
            }
        }
    }
    @include baseContextMenuColors($grays);
}   

.tsi-hierarchy-nav-wrapper{
    height: 100%;
    width: 100%;

    &.tsi-dark{
        $grays: grays('dark');
        @include hierarchyColors($grays);
        .tsi-hierarchy-wrapper, .tsi-hierarchy-instances-wrapper {
            li{
                > .tsi-caret{
                    background-image: url(../../Icons/CaretClosed_Dark_Theme.svg);
                }
            }
        }
    }
    &.tsi-light{
        $grays: grays('light');
        @include hierarchyColors($grays);
        .tsi-hierarchy-wrapper, .tsi-hierarchy-instances-wrapper{
            li{
                > .tsi-caret{
                    background-image: url(../../Icons/CaretClosed_Light_Theme.svg);
                }
            }
        }
    }

    .tsi-hierarchy-selection-wrapper {
        text-align: left;
        padding: 16px;

        .tsi-hierarchy-select {
            border-radius: 3px;
            padding: 4px 12px;
            width: 100%;
            font-size: 14px;
            font-weight: 600;
            height: 36px;
            font-family: Segoe UI Regular,Segoe UI,Segoe WP,Tahoma,Arial,sans-serif;

            &:focus{
                border: 1px solid #136bfb;
            }

            &:hover {
                border: 1px solid #eaeaea;
            }
        }
    }

    .tsi-hierarchy-search {
        padding: 0px;
        height: 40px;

        input{
            width: 100%;
            padding: 4px;
        }
    }

    .tsi-hierarchy-instances-wrapper {
        display: none;
        height: calc(100% - 110px);
        position: absolute;
        width: 100%;

        .tsi-hierarchy-filtered {
            float: left;
            width: 50%;
            height: 100%;
            overflow-y: auto;
        }

        .tsi-hierarchy-instances {
            flex-grow: 1;
            height: 50%;
            float: left;
            overflow-y: auto;

            .tsi-modelResultWrapper {
                cursor: pointer;
                position: relative;
                max-height: 206px;
                overflow: hidden;
                animation: fade-in .2s ease-in-out;
                @keyframes fade-in {
                    0% { opacity: 0; }
                    100% { opacity: 1; }
                }

                .tsi-modelResult{
                    pointer-events: none;
                    padding: 8px 20px;
                    .tsi-modelPK{
                        font-weight: 600;   
                        font-size: 14px
                    }
                    .tsi-modelHighlights{
                        font-size: 12px;
                        padding-top: 2px;
                        padding-left: 8px;
                        padding-bottom: 2px;
                        table{
                            border-spacing: 0;
                            margin-top: 2px;
                            tr{
                                td:first-of-type{
                                    padding: 0;
                                    opacity: .6;
                                }
                                td:nth-of-type(2){
                                    padding: 0;
                                    padding-left: 8px;
                                }
                            }
                        }
                    }
                }
            }
            .tsi-show-more{
                cursor: pointer;
                text-align: center;
                padding-bottom: 8px;
                font-size: 13px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }

    .tsi-hierarchy-wrapper{
        height: calc(100% - 110px);
        position: absolute;
        width: 100%;

        .tsi-hierarchy {
            height: 100%;
            overflow-y: auto;
        }
    }

    ul{
        list-style: none;
        padding: 0;
        width: 100%;
        
        &.tsi-noPad{
            padding: 8px 20px;
            margin: 0;
            overflow: auto;
            height: 100%;
        }
    }
    li{
        animation: fade-in .2s ease-in-out;
        @keyframes fade-in {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

        > .tsi-caret{
            transform: rotate(0deg);
        }
        &.tsi-expanded{
            > .tsi-caret{
                transform: rotate(90deg);
            }
        }
    }

    li {
        position: relative;
        .tsi-caret{
            position: absolute;
            display: block;
            height: 10px;
            width: 10px;
            cursor: pointer;
            z-index: 1;
            background-size: 10px;
            background-repeat: no-repeat;
            top: 11px;
            background-position: 50%;
            transition: all .2s ease;
            pointer-events: none;
        }
        .tsi-markedName{
            display: flex;
            position: relative;
            margin: 0;
            height: 32px;
            font-size: 14px;
            align-items: center;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        &.tsi-expanded{
            .tsi-caret{
                content: '';
                cursor: pointer;
            }
        }
        &.tsi-leaf {
            font-weight: 600;
            .tsi-caret{
                display: none;
            }
            &.selected {
                background: #b3d6f2;
            }
        }
    }

    .tsi-noBefore .tsi-caret{
        content: '' !important;
    }

    .tsi-hierarchyNavigationContextMenu{
        @extend .tsi-baseContextMenu;
        position: absolute;
        left: calc(100% - 32px);
        top: 0px;
        z-index: 10;

        ul {
            padding: 0;
            margin: 0;

            li:hover{
                background: #b3d6f2;
            }
        }

        li {
            padding: 4px 8px;
            font-size: 12px;
            cursor: pointer;
            height: 28px;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
    }
}