@import "../../styles";


@mixin tableColors($grays){
    $gray1: nth($grays, 1); // text
    $gray2: nth($grays, 2); // hover
    $gray3: nth($grays, 3); // element
    $gray4: nth($grays, 4); // background
    $gray5: nth($grays, 5); // header background
    $gray7: nth($grays, 7); // border color

    background-color: $gray3;
    .tsi-eventsTable {
        background-color: $gray3;
        color: $gray1;
        border-left: 1px solid $gray7;
        .tsi-eventRowsContainer {
            .tsi-eventRows {
                tr {
                    &:hover {
                        background-color: $gray2;
                    } 
                    td {
                        border: 1px solid $gray7;
                    }
                }
            }
        }
        .tsi-columnHeaders {
            .tsi-columnHeader {
                border-right: 1px solid $gray7;
                border-bottom: 1px solid $gray7;
                background-color: $gray5;
                &:hover{
                    background-color: $gray2;
                }
                &.tsi-columnHeaderDisabled{
                    &:hover{
                        background-color: $gray5;
                    }
                }
            }
        }
    }

    .tsi-tableLeftPanel {
        .tsi-tableLegend {
            background-color: $gray3;
            .tsi-selectAllColumns {
                .tsi-selectAllSomeState {
                    background-color: $gray1;
                }
            }
    
    
            .tsi-columnToggle, .tsi-selectAllColumns {
                color: $gray1;
                &:hover {
                    background-color: $gray2; 
                }
            }
            .tsi-columnToggleCheckbox{
                &.tsi-notSelected{
                    background: $gray3;
                    border: 1px solid rgba($gray1, .2);
                }
            }

            .tsi-eventsDownload {
                background-color: $gray4;
            }
        }
    }
}

.tsi-tableComponent {
    position: relative;
    text-align: left;
	&.tsi-dark{
        $grays: grays('dark');
        @include chartColors($grays);
        @include tableColors($grays);
        .tsi-downloadEventsIcon {
            background-image: url('../../Icons/Download_Icon_Dark.svg');
        }

        .tsi-columnSortIcon {
            &.down {
                background-image: url('../../Icons/SortDown_Dark.svg');
            }
            &.up {
                background-image: url('../../Icons/SortUp_Dark.svg');            
            }
        }

	}
	&.tsi-light{
        $grays: grays('light');
        @include chartColors($grays);
        @include tableColors($grays);
        .tsi-downloadEventsIcon {
            background-image: url('../../Icons/Download_Icon_Light.svg');
        }

        .tsi-columnSortIcon {
            &.down {
                background-image: url('../../Icons/SortDown_Light.svg');
            }
            &.up {
                background-image: url('../../Icons/SortUp_Light.svg');            
            }
        }
    }

    .tsi-columnTypeIcons {
        display: flex;
        align-items: center;
    }

    .tsi-columnTypeIcon {
        width: 16px;
        height: 16px;
        pointer-events: none;
        &.String {
            background-image: url('../../Icons/abc.svg');
        }
        &.DateTime {
            background-image: url('../../Icons/date.svg');
        }
        &.Double, &.Long {
            background-image: url('../../Icons/number.svg');
        }
        &.Bool {
            background-image: url('../../Icons/boolean.svg');
        }
        &.tsid {
            pointer-events: auto;
            margin-right: 8px;
            background-image: url('../../Icons/key.svg');
        }
    }

    .tsi-columnSortIcon {
        width: 16px;
        height: 16px;
    }
    
    .tsi-eventsTable {
        position: absolute;
        right: 0px;
        top: 0px;
        width: calc(100% - 245px);
        height: 100%;
        font-family: consolas;
        font-size: 13px;

        .tsi-columnHeaders {
            overflow-x: hidden;
            font-size: 14px;
            white-space: nowrap;
            position:absolute;
            width: 100%;
            top: 0px;
            left: 0px;
            z-index: 1;    
            .tsi-columnHeader {
                display: inline-block;
                top: 0px;
                height: 24px;
                padding-left: 6px;
                padding-right: 12px;
                position: relative;
                box-sizing: content-box;
                &.tsi-columnHeaderDisabled{
                    &:hover{
                        cursor: default;
                    }
                }
                &:hover{
                    cursor: pointer;
                }
                .tsi-columnHeaderName {
                    display: inline-block;
                    font-weight: bold;
                    margin-right: 52px;
                    &.moreMarginRight {
                        margin-right: 72px;
                    }
                }
                .tsi-columnSortIcon {
                    right: 28px;
                    position: absolute;
                    &.moreRight {
                        right: 52px;
                    }
                }
                .tsi-columnTypeIcons {
                    position: absolute;
                    vertical-align: bottom;
                    right: 8px;

                    .tsi-columnTypeIcon {
                        position: relative;
                        right: unset;
                    }
                }
                .tsi-columnTypeIcon {
                    position: absolute;
                    vertical-align: bottom;
                    right: 8px;
                }
                .tsi-sortColumnButton {
                    background-color: transparent;
                    display: block;
                    width: 100%;
                    left: 0px;
                    top: 0px;
                    height: 100%;
                    position: absolute;
                    border: none;
                    cursor: pointer;
                    &:disabled{
                        cursor: default;
                    }
                }
            }
        }
        .tsi-eventRowsContainer {
            top: 0px;
            overflow-y: scroll;
            position: absolute;
            left: 0px;
            width: 100%;
            height: 100%;
            .tsi-eventRows {
                margin-left: -1px;
                white-space: nowrap; 
                border-collapse: collapse;
                position:absolute;
                top: 0px;
                left: 0px;
                height: 24px;
                tr {
                    td {
                        min-width: 60px;
                    }
                }
            }
        }

        .tsi-eventRowsContainer .tsi-eventRow, .tsi-columnHeaders {
            .tsi-eventCell, .tsi-columnHeader {
                height: 24px;
                padding-left: 8px;
                padding-right: 8px;
            }
            .tsi-columnHeader {
                display: inline-flex;
                align-items: center;
                
            }
        }
    }

    .tsi-tableLeftPanel {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 244px;
        height: 100%;

        .tsi-eventsDownload {
            border: none;
            height: 32px;
            display: block;
            bottom: 16px;
            background-position-y: 8px;
            background-position-x: 8px;
            width: calc(100% - 40px);
            text-align: center;
            padding: 8px 12px;
            cursor: pointer;

            align-items: center;
            display: flex;
            justify-items: center;
            justify-content: center;
            margin: 20px;

            .tsi-downloadEventsIcon {
                height: 16px;
                width: 16px;
                display: inline-flex;
                background-repeat: no-repeat;
                background-position: center;
            }
            &.tsi-downloading{
                .tsi-downloadEventsIcon {
                    animation: rotating 2s linear infinite;
                    background-image: url('../../Icons/Spinner.svg');
                }       
            }
            .tsi-downloadEventsText {
                display: inline-flex;
                margin-left: 8px;
            }
        }

        .tsi-tableLegend {
            overflow-y: auto;
            height: calc(100% - 60px);
            ul {
                padding: 0;
                margin: 8px;
                margin-left: 16px;
            }
            font-size: 14px;
    
            .tsi-selectAllColumns {
                .tsi-selectAllText {
                    left: 28px;
                    position: absolute;
                    pointer-events: none;
                    width: 124px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
    
            .tsi-selectAllColumns {
                margin-bottom: 4px !important;
                .tsi-columnToggleName {
                    left: 13px !important;
                }
    
                .tsi-selectAllSomeState {
                    pointer-events: none;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    left: 8px;
                    top: 8px;
                }
            }
    
            .tsi-columnToggle, .tsi-selectAllColumns {
                height: 24px;
                overflow: hidden;
                list-style-type: none;
                position: relative;
                overflow-y: hidden;
                white-space: nowrap;
                display: flex;
                align-items: center;
    
                .tsi-columnToggleName {
                    left: 20px;
                    position: relative;
                    pointer-events: none;
                    width: calc(100% - 88px);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: inline-block;

                    &.tsidPropertyName {
                        width: calc(100% - 112px);
                    }
                }
    
                .tsi-columnToggleCheckbox {
                    pointer-events: none;
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    left: 4px;
                    position: relative;
                    background-image: url('../../Icons/checkboxes.svg');
                }
    
                .tsi-columnTypeIcon {
                    display: inline-block;
                    position: relative;
                    left: 12px;
                }
    
                .tsi-columnToggleButton {
                    z-index: 0;
    
                    .tsi-onlyLabel {
                        opacity: 0;
                        right: 4px;
                        position: absolute;
                        cursor: pointer;
                        margin-top: -10px;
                        font-size: 14px;
                        &:hover, &:focus {
                            text-decoration: underline;
                            opacity: .6;
                        }
                    }
                    &:hover {
                        .tsi-onlyLabel {
                            opacity: .6;
                        }
                    }
                    background-color: transparent;
                    width: 100%;
                    left: 0px;
                    height: 100%;
                    position: absolute;
                    border: none;
                }
            }
            .tsi-selectAllColumns {
                font-weight: bold;
                text-transform: capitalize;
            }
        }
    }
}